<ion-header>
  <ion-toolbar class="color-oscuro">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="color-oscuro ion-padding" >
  <ion-toolbar style='text-align:center'class="color-oscuro">
    <h3> Consultorio Metropolitano</h3>
  </ion-toolbar>
  <ion-img src="assets/imagen/consultorio.jpeg"></ion-img>


  <ion-text >
    <h5>Consultorio Metropolitano</h5>
  </ion-text>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat sit fugiat, magni deleniti natus dolores recusandae adipisci est veritatis in velit delectus autem modi blanditiis! Optio odit sequi aut consequuntur?
  </p>
</ion-content>
